body {
  /*background-color: rgb(30, 133, 202);*/
  background-color: rgb(255,255,255);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(32, 153, 58);
  /*background-color: rgb(180, 23, 180);*/
  color: white;
}

.App-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  /*padding: 5px;*/
  width: 150px;
}